<%- include('include/header') %>
    <div class="content-start transition">
        <div class="container-fluid dashboard">
            <div class="content-header">
                <h1>Student Dashboard</h1>
                <p></p>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <h4>Important notice</h4>
                        </div>
                        <div class="card-body ">
                            <div class="table-responsive">
                                <% if (notice && notice.length > 0) { %>
                                    <table class="table table-striped">
                                        <thead>
                                            <tr class="text-center">
                                                <th scope="col">Id</th>
                                                <th scope="col">Sender</th>
                                                <th scope="col">Subject</th>
                                                <th scope="col"> Date</th>
                                                <th scope="col">View Details</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <% notice.forEach((row, index) => { %>
                                                <tr class="text-center">
                                                    <th scope="row">
                                                        <%= index %>
                                                    </th>
                                                    <td scope="row">
                                                        <%= row.name %>
                                                    </td>
                                                    <td scope="row">
                                                        <%= row.subject %>
                                                    </td>
                                                    <td scope="row">
                                                        <%= row.date %>
                                                    </td>


                                                    <td><a href="/view_notice/<%=row._id%>" class="btn btn-primary">View Details</a></td>
                                                </tr>
                                                <% }) %>
                                        </tbody>
                                    </table>
                                    <% } else { %>
                                        <h1 class="text-center text-secondary mt-5">No notices found in the database</h1>
                                        <% } %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%- include('include/footer') %>